body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1299px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u68015_div {
  position:absolute;
  left:0px;
  top:0px;
  width:254px;
  height:150px;
  background:inherit;
  background-color:rgba(239, 90, 161, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u68015 {
  position:absolute;
  left:112px;
  top:764px;
  width:254px;
  height:150px;
}
#u68016 {
  position:absolute;
  left:10px;
  top:10px;
  width:234px;
  visibility:hidden;
  word-wrap:break-word;
}
#u68017_div {
  position:absolute;
  left:0px;
  top:0px;
  width:396px;
  height:101px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u68017 {
  position:absolute;
  left:910px;
  top:6px;
  width:396px;
  height:101px;
  font-size:16px;
}
#u68018 {
  position:absolute;
  left:0px;
  top:0px;
  width:396px;
  word-wrap:break-word;
}
#u68019_div {
  position:absolute;
  left:0px;
  top:0px;
  width:391px;
  height:501px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u68019 {
  position:absolute;
  left:906px;
  top:120px;
  width:391px;
  height:501px;
}
#u68020 {
  position:absolute;
  left:10px;
  top:10px;
  width:371px;
  word-wrap:break-word;
}
#u68021_div {
  position:absolute;
  left:0px;
  top:0px;
  width:391px;
  height:492px;
  background:inherit;
  background-color:rgba(208, 225, 125, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u68021 {
  position:absolute;
  left:906px;
  top:645px;
  width:391px;
  height:492px;
}
#u68022 {
  position:absolute;
  left:10px;
  top:10px;
  width:371px;
  word-wrap:break-word;
}
#u68023_img {
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  height:38px;
}
#u68023 {
  position:absolute;
  left:120px;
  top:774px;
  width:214px;
  height:38px;
}
#u68024 {
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  word-wrap:break-word;
}
#u68025_img {
  position:absolute;
  left:0px;
  top:0px;
  width:246px;
  height:76px;
}
#u68025 {
  position:absolute;
  left:120px;
  top:817px;
  width:246px;
  height:76px;
}
#u68026 {
  position:absolute;
  left:0px;
  top:0px;
  width:246px;
  word-wrap:break-word;
}
#u68027_img {
  position:absolute;
  left:0px;
  top:0px;
  width:897px;
  height:704px;
}
#u68027 {
  position:absolute;
  left:-7px;
  top:0px;
  width:897px;
  height:704px;
}
#u68028 {
  position:absolute;
  left:2px;
  top:344px;
  width:893px;
  visibility:hidden;
  word-wrap:break-word;
}
